extends ../../layout

block content
	.container(id='content')
		.center-block
			.jumbotron
				h3.glyphicon.glyphicon-hand-right  hi~这是我的个人资料
				br
				br 
				p.glyphicon.glyphicon-hand-down  Contact with me in this ways
				hr
				h4.glyphicon.glyphicon-user  Personal Message
				br
				br
				.container-fluid
					.row.center-block
						.col-md-3.col-sm-3(id='perleft')
							ul.list-group.text-center
								li.list-group-item Name
								li.list-group-item CnBlog
								li.list-group-item Githup
								li.list-group-item Email
								li.list-group-item School
								li.list-group-item Adderss
						.col-md-9.col-sm-9(id='perright')
							ul.list-group.text-center
								li.list-group-item joeCHAN
								li.list-group-item 
									a(href='www.ashuachao.com') www.ashuachao.com
								li.list-group-item ashuachao.Githup
								li.list-group-item 545909203@qq.com
								li.list-group-item 暨南大学
								li.list-group-item 广东-珠海
				br
				h4.glyphicon.glyphicon-user  Personal Desc
				.panel.panel-info.center-block
					.panel-heading nihao
					.panel-body 我是暨南大学本科的一个小小的学生，本来以为以后会成为通信行业的一员~例如，去修修电表，拉拉电线~谁知道，2015实习生招聘让我知道了前端开发这个词~能让自己的想法所见即所得，并不断开发新的东西~好炫酷，我从最普通的HTML/CSS/JAVASCRIPT,到了解到Angular/React等新的前端框架并加以应用，到学习前端的后端语言NodeJS，再到了解前端工程化~感觉前端的东西有种学不完的感觉~太赞~以后还要不断进步~
					.panel-footer 一句时常提醒自己的话：见过的牛人越多，越觉得自己渺小~专注方向~
