.center-block(id='Manage')
	.row
		.panel.panel-success
			.panel-heading 我是暨南大学本科的一个小小的学生，本来以为以后会成为通信行业的一员~例如，去修修电表，拉拉电线~谁知道，2015实习生招聘让我知道了前端开发这个词~能让自己的想法所见即所得，并不断开发新的东西~好炫酷，我从最普通的HTML/CSS/JAVASCRIPT,到了解到Angular/React等新的前端框架并加以应用，到学习前端的后端语言NodeJS，再到了解前端工程化~感觉前端的东西有种学不完的感觉~太赞~以后还要不断进步~
			.panel-body 一句时常提醒自己的话：见过的牛人越多，越觉得自己渺小~专注方向~