.center-block(id='Manage')
	.row
		span.label.label-primary JS/HTML/CSS
		br
		ul.list-group
			li.list-group-item.clearfix JS实现一个好东西
				a.btn.btn-danger.pull-right Delete
				a.btn.btn-success.pull-right Edit
			li.list-group-item.clearfix JS实现一个好东西
				a.btn.btn-danger.pull-right Delete
				a.btn.btn-success.pull-right Edit
			li.list-group-item.clearfix JS实现一个好东西
				a.btn.btn-danger.pull-right Delete
				a.btn.btn-success.pull-right Edit
		span.label.label-primary JS/HTML/CSS
		br
		ul.list-group
			li.list-group-item.clearfix 
				span.pull-left JS实现一个好东西
				a.btn.btn-danger.pull-right Delete
				a.btn.btn-success.pull-right Edit
			li.list-group-item JS实现一个好东西
			li.list-group-item JS实现一个好东西